.header-bg {   
    background: linear-gradient(rgba(32,32,32,0) 0%, var(--background) 40%), url(../images/raster/donate_top.jpg);
    background-position: top;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100vw;
}