.header-bg {   
    background: linear-gradient(rgba(32,32,32,0) 0%, var(--background) 40%), url(../images/raster/goals_header.jpg);
    background-position: top;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.main-content-layout {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 20px;
    justify-items: stretch;
}

.gg-bubble-goal {
    height: minmax(130px, 1fr);
    width: minmax(130px, 1fr);
    border: 0;
    margin:0;
    padding: .2em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    aspect-ratio: 1 / 1;
}

@media (max-width: 320px) { 
    .main-content-layout {
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-gap: 12px;
    }

    .gg-goal {
        height: minmax(120px, 1fr);
        width: minmax(120px, 1fr);
    }
 }